@page "{id:int}"
@model MyScriptureJournal.Pages.Scriptures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anotation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Anotation.Id" />
            <div class="form-group">
                <label asp-for="Anotation.Record" class="control-label"></label>
                <textarea asp-for="Anotation.Record" class="form-control">@Html.DisplayFor(model => model.Anotation.Record)</textarea>
                <span asp-validation-for="Anotation.Record" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anotation.Date" class="control-label"></label>
                <input asp-for="Anotation.Date" class="form-control" />
                <span asp-validation-for="Anotation.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anotation.Book" class="control-label"></label>
                <input asp-for="Anotation.Book" class="form-control" />
                <span asp-validation-for="Anotation.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
