@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h6 class="display-6">Welcome to my personal scripture book</h6>
    <p>Useful links:</p>
    <p>Church site: <br/> <a href="https://www.churchofjesuschrist.org/?lang=eng" target="_blank">The Church of JesusChrist of Latter Days Saints</a></p>
    <p>Scriptures: <br /> <a href="https://www.churchofjesuschrist.org/study/scriptures?lang=eng&platform=web" target="_blank">Scriptures</a></p>
    <p>General Conference: <br /> <a href="https://www.churchofjesuschrist.org/study/general-conference?lang=eng" target="_blank">General Conference</a></p>

</div>
